    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Hi, my name is Nikita</h2>
              <br/>
                <h5>And I collect chamomile tea bags.</h5>
                <h5>At this page you can take a look at small collection of chamomile tea I gathered from different places I've been to and received as a present</h5>
                <br/>
              </div>
        </div>
    </section>
